/* General styles */

/* CSSリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, figure, figcaption, blockquote, form, fieldset, legend, input, textarea, button, select, option, table, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}


icon {
    height: 100%;
    vertical-align: middle;
}

.banner{
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
}

.banner > h1{
    font-size: 30px;
    font-family: "din-2014", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.iconAd{
    font-size: 10px;
    margin: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 5px;
}

.textInput {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f5f5f5;
    transition: border-color 0.3s ease;
}

.textInput:focus {
    border-color: #8FD9F4;
    outline: none;
}

.toggle_input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.toggle_label {
    width: 75px;
    height: 35px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    transition: 0.4s;
    box-sizing: border-box;
}

.toggle_label:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.toggle_input:checked + .toggle_label {
background-color: #4BD865;
}

.toggle_input:checked + .toggle_label:after {
    left: 40px;
}

.toggle_button {
    position: relative;
    width: 75px;
    height: 35px;
    margin: auto;
}

.slider{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f5f5f5;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.settings > *{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "nimbus-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.settings > * > input{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.apiKey{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.saveIcon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}


@keyframes checkmark {
    0% { 
        transform: scale(1); 
        opacity: 1;
    }
    100% { 
        transform: scale(0); 
        opacity: 0;
    }
}

.saveIcon.animate {
    animation: checkmark 0.5s ease-in-out;
}