/* General styles */

/* CSSリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, figure, figcaption, blockquote, form, fieldset, legend, input, textarea, button, select, option, table, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




icon {
    height: 1em;
    vertical-align: middle;
}
h1 {
    color: #333;
    font-size: 24px;
}

p {
    color: #666;
    font-size: 16px;
}

ruby{
    line-height: 1.5;
}

rt {
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}

.textInput {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f5f5f5;
    transition: border-color 0.3s ease;
}

.textInput:focus {
    border-color: #8FD9F4;
    outline: none;
}

.switchIcon {
    width: 50x;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.slider{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f5f5f5;
    transition: border-color 0.3s ease;
}

.settings > *{
    margin-top: 10px;
    margin-bottom: 10px;
}

.apiKey{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.saveIcon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
